
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
    <link rel="icon" type="image/x-icon" href="~/Images/logo.png">
</head>
<body style="background-color:#231B1B">
    <div>
        <div class="container" style="text-align: center; padding:270px 0 270px; text-decoration: solid; color: white">
            <div class="div3">
                <h2>Stock Tracking Automation Project</h2>
                <h3>ASP.NET MVC</h3>
                <h4>Created By Aleyna Aslanboga 2022</h4>
                <p>Click <a href="/Home/HomePage" style="color:white"> Here </a> to Continue</p>
            </div>
          
            
        </div>
    </div>
    <style>
        .div3 {
            width: 550px;
            height: 200px;
            padding: 1em;
            border:solid 5px;
            background-color: #6B5252;
            margin: auto;
            border-color:#E3DBDB;
        }

    </style>
</body>
</html>
