
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="text-align: center; color: #6B5252; padding: 170px 0 270px ">
    <h2>Stok Takip Otomasyonu</h2>
    <img style="height:300px; width:400px" src="~/Images/logo.png" />
    <h4>ASP.NET MVC</h4>
   
</div>


